*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
      font-family: "Montserrat","Inter";
}

header{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    padding: 5px 8%;
    align-items: center;
padding-top: 25px;

}

/*  logo */

header .right{

    /* border: 2px solid red; */
    font-size: 34px;
    font-weight: 700;
    color: rgb(219, 48, 48);
    
   

}

header .left .home{
    border-bottom: 3px solid rgb(224, 221, 22);
    
    
}




/*  la gestion de la barre de navigation et d'un button*/
header .left{


    /* border: 2px solid orange; */
     display: flex;
    justify-content: space-around;
    
    flex-grow: 2;
    padding-left: 80px;


}


header .left ul{
    display: flex;
    gap: 15px;

}


header .left li{
 list-style: none;
 /* border: 2px solid orange; */
 padding-bottom: 4px;
    text-transform: capitalize;


}



header .left  a{
    text-decoration: none;
    color: black;
 
}


header .left  .buttons a{
   box-shadow: 2px 2px 2px rgba(0, 0,0, 0.3);
   padding: 10px 15px;
   border-radius: 20px;
   background-color: #97233F;
   color:white;

}


/* section */
/* Hero section */
.Hero{
    width: 100%;
    height: 100vh;
}


/*  le slider */

.Hero .visualiseur_slide{
    width: 90%; 
    margin: 10px auto;
    box-shadow: 2px 2px 4px rgba(0, 0,0, 0.3);
    border-radius: 30px;
    background: linear-gradient(90deg, #FF296D 0%, #922020 95%);
  overflow  :hidden;
}

.Hero .container_slide{
    width:200%;
    display: flex;
    transition: transform 3s ease;
    animation: slide_animation 9s ease-in-out infinite;

}


.Hero  .slide{
    /* border: 3px solid brown; */
   width:50%;
   position: relative;
   display: flex;
   flex-direction: row-reverse;
   background-image: url(images/section_hero/001.png);
 
}







.Hero  .slide2{
    /* border: 3px solid brown; */
   width:50%;
   background-image: url(images/section_hero/slide2.jpg);
   background-position: center;
   background-size: cover;
   height: 90vh;
 
  

}

.Hero  .slide2 .description{
    margin-top: 13%;
    margin-left:40px;
    width: 60%;
color:rgb(218, 218, 218);
display: flex;
flex-direction: column;
row-gap: 15px;
  
 
}





.Hero .slide  .image{
   width: 50%;
   /* border: 2px solid purple; */
   background: transparent;
height: 85vh;
   
   
}


/* image de l'etudiante */

.Hero .slide  .image1{
  
   /* border: 2px solid rgb(67, 238, 24); */
   position: absolute;
   width: 75%;
     z-index: 1;
  
}



/* image de CARTE DU MONDE*/

.Hero .slide  .image2{
  
   /* border: 2px solid rgb(67, 238, 24); */
   position: absolute;
   width: 20%;
 
   left: 30%;
   top: 10%;
  
  
}




.Hero .slide  .image4{
  
   /* border: 2px solid rgb(67, 238, 24); */
   position: absolute;
   width: 20%;

 
   left: 10%;
   bottom:40%;
  
  
}





.Hero .slide  .image3{
  
   /* border: 2px solid rgb(67, 238, 24); */
   position: absolute;
   width: 20%;
 
   left: 10%;
   bottom:40px;
  
  
}


.Hero .slide  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.Hero .slide  .description{
 /* border:2px solid yellow; */
 display: flex;
 flex-direction: column;
justify-content: center;
color:white;
gap: 20px;
position: absolute;
width: 60%;
left: 0;
top:26%;
    margin-left:40px;
}


.Hero .slide  .description h1{
    text-transform: uppercase;
    font-size: 33px;


}

.Hero .slide  .description p{
   width: 85%;
   text-align: justify;
   font: 13px;

   line-height: 1.5;
}



.Hero .slide2  .description p{
   width: 85%;
   text-align: justify;
   font: 13px;

   line-height: 1.5;
}

.Hero .slide2  .description h1{
    text-transform: uppercase;
        font-size: 33px;

}



.Hero .cta_hero {

    display: flex;
    column-gap: 12px;
    position: absolute;
       left: 6%;
   bottom: 20%;
     margin-left:40px;


    
}

.Hero .cta_hero a{

       box-shadow: 2px 2px 2px rgba(0, 0,0, 0.3);
   padding: 0.8rem 1rem;
   font-size: 10px;
   border-radius: 10px;
   background-color: transparent;
  color:rgb(231, 226, 226);
   text-decoration: none;

   overflow: hidden;
   position: relative;

   z-index: 1;



}

.Hero .cta_hero a:hover::before{
 
 transform: scaleX(1);





}





.Hero .cta_hero a::before{
content: " ";
width: 100%;
top: 0;
bottom: 0;
left: 0;
transform: scaleX(0);
transform-origin: left;


   transition: transform 1s ease-in-out;
background-color: orange;
position: absolute;
z-index: -1;



}

/*  animation de nos slide */


@keyframes slide_animation {
     0%{
        transform: translateX(0);
     }



     25%{

         transform: translateX(0);
     }


     50%{  transform: translateX(-50%);

     }


     75%{
        transform: translateX(-50%);
     }
    

     100%{

     }
}


/* deuxieme section */


.sect_2 {
       width: 100%;
    height: 100vh;

}

.sect_2 .container {
    margin: auto;
    border: 2px solid orange;
    width: 90%;
    height: 100vh;
    /* display: flex;
    flex-direction:column-reverse;
    background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/sect_2/coaching-bg-img.png);
}



.sect_2 .container h2 {
    color:rgb(12, 12, 12);
    text-align: center;
    font-size: 38px;
    text-shadow: 3px  3px 7px rgb(12, 12, 12,0.3);
    border:  2px  0 2px 0 0 solid gray;
    padding: 8px;

}










.sect_2 .container  .reponse {
    border: 2px solid rgb(17, 17, 17);
    /* display: flex; */
    position: relative;
 
   
   
}

/*  nom de l'entreprise ICB */

.sect_2 .container  .reponse  h3{
   font-size: 38px;
   letter-spacing: 20px;
   color: rgb(219, 48, 48);
   position: absolute;
   top:60%;
   left: 30%;
 
   
}

/* container du svg de la vague */
.sect_2 .container  .reponse  .wave{
height: 300px;
/* border: 2px solid orange; */
overflow: hidden;
   
}

/* svg de la vague */
.sect_2 .container  .reponse  .wave svg{
height: 100%;

   
}









.sect_2 .reponse .image {
    /* border: 2px solid rgb(7, 7, 7); */
  width: 40%;
  height: 300px;
    position: absolute;
   top:0;
   right: 0;
  
 
  

   
}


.sect_2  .image img {
 
max-width: 100%;
max-height: 100%;

   
}






.sect_2 .photo_desc {
    border: 2px solid rgb(252, 16, 173);
    display: flex;
    height: 80%;
   
}



.sect_2 .photo_desc .details {
    border: 2px solid blueviolet;
   
   
}

.sect_2 .photo_desc .details p {
   font-weight: 500;
   font-size: 16px;
   
   
}


.sect_2 .photo_desc .details .service {
  display: flex;
justify-content: center;
  gap: 40px;
   
   
}



.sect_2 .photo_desc .details {
    border: 2px solid rgb(16, 39, 252);
   
}


.sect_2 .photo_desc .serv_photos {
    border: 2px solid rgb(52, 238, 15);
width: 50%;
 height: 100%;
 flex-shrink: 0;
 position: relative;
 
  
   
 
   
}




.sect_2 .photo_desc .serv_photos img {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.sect_2 .photo_desc .serv_photos .photos_1 {
   /* border:4px solid #FF296D; */
   width: 90%;
   height: 95%;
   
   justify-self: flex-end;

  
}



.sect_2 .photo_desc .serv_photos .photos_2 {

 position: absolute;
 height: 180px;
 width: 150px;
 right: 0.8px;
 bottom: 23px;
  

}


.sect_2 .photo_desc .serv_photos .photos_2 img {

  


  

}





