*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
       list-style: none;
       text-decoration: none;
       font-family: "Montserrat","Inter";
     
}

body{
      font-family: "Montserrat","Inter";
      background-color: rgb(255, 255, 255);
   
}

header{
  /* border: 2px solid green;   */
    display: flex;
   
    padding: 5px 8%;
    align-items: center;
padding-top: 25px;

left: 0;
top: 0 ;
right:0;


position: fixed;
z-index: 1;
background-color: white;

box-shadow:4px 4px 4px rgba(0, 0,0, 0.3);

}

/*  logo */

header .right{

    /* border: 2px solid red; */
    font-size: 34px;
    font-weight: 700;
    color: rgb(219, 48, 48);
    
   

}

header .left .home{
    border-bottom: 3px solid rgb(224, 221, 22);
    
    
}




/*  la gestion de la barre de navigation et d'un button*/
header .left{


   /* border: 2px solid orange;  */
     display: flex;
    justify-content: space-around;
    justify-self: flex-end;
    
   width: 95%;
    padding-left: 80px;


}


header .left ul{
    display: flex;
    gap: 15px;

}


header .left li{
 list-style: none;
 /* border: 2px solid orange; */
 padding-bottom: 4px;
    text-transform: capitalize;


}



header .left  a{
    text-decoration: none;
    color: black;
    
 
}


header .left  .buttons a{
   box-shadow: 2px 2px 2px rgba(0, 0,0, 0.3);
   padding: 10px 15px;
   border-radius: 20px;
   background-color: #97233F;
   color:white;

}


/* section */
/* Hero section */
.Hero{
    margin-top:80px ;
    width: 100%;
    height: 100vh;
}


/*  le slider */

.Hero .visualiseur_slide{
    width: 90%; 
    margin: 10px auto;
    box-shadow: 2px 2px 4px rgba(0, 0,0, 0.3);
    border-radius: 30px;
    background: linear-gradient(90deg, #FF296D 0%, #922020 95%);
  overflow  :hidden;
}

.Hero .container_slide{
    width:200%;
    display: flex;
    transition: transform 3s ease;
    animation: slide_animation 9s ease-in-out infinite;

}


.Hero  .slide{
    /* border: 3px solid brown; */
   width:50%;
   position: relative;
   display: flex;
   flex-direction: row-reverse;
   background-image: url(images/section_hero/001.png);
 
}







.Hero  .slide2{
    /* border: 3px solid brown; */
   width:50%;
   background-image: url(images/section_hero/slide2.jpg);
   background-position: center;
   background-size: cover;
   height: 90vh;
 
  

}

.Hero  .slide2 .description{
    margin-top: 15%;
    margin-left:40px;
    width: 60%;
color:rgb(218, 218, 218);
display: flex;
flex-direction: column;
row-gap: 15px;
  
 
}





.Hero .slide  .image{
   width: 50%;
   /* border: 2px solid purple; */
   background: transparent;
height: 85vh;
   
   
}


/* image de l'etudiante */

.Hero .slide  .image1{
  
   /* border: 2px solid rgb(67, 238, 24); */
   position: absolute;
   width: 75%;
     z-index: 1;
  
}



/* image de CARTE DU MONDE*/

.Hero .slide  .image2{
  
   /* border: 2px solid rgb(67, 238, 24); */
   position: absolute;
   width: 20%;
 
   left: 30%;
   top: 10%;
  
  
}




.Hero .slide  .image4{
  
   /* border: 2px solid rgb(67, 238, 24); */
   position: absolute;
   width: 20%;

 
   left: 10%;
   bottom:40%;
  
  
}





.Hero .slide  .image3{
  
   /* border: 2px solid rgb(67, 238, 24); */
   position: absolute;
   width: 20%;
 
   left: 10%;
   bottom:40px;
  
  
}


.Hero .slide  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.Hero .slide  .description{
 /* border:2px solid yellow; */
 display: flex;
 flex-direction: column;
justify-content: center;
color:white;
gap: 20px;
position: absolute;
width: 60%;
left: 0;
top:30%;
    margin-left:40px;
}


.Hero .slide  .description h1{
    text-transform: uppercase;
    font-size: 46px;


}

.Hero .slide  .description p{
   width: 85%;
   text-align: justify;
   font-size: 16px;

   line-height: 1.5;
}



.Hero .slide2  .description p{
   width: 85%;
   text-align: justify;
   font-size: 16px;

   line-height: 1.5;
}

.Hero .slide2  .description h1{
    text-transform: uppercase;
         font-size: 46px;

}



.Hero .cta_hero {

    display: flex;
    column-gap: 12px;
    position: absolute;
       left: 6%;
   bottom: 20%;
     margin-left:40px;


    
}

.Hero .cta_hero a{

       box-shadow: 2px 2px 2px rgba(0, 0,0, 0.3);
   padding: 0.8rem 1rem;
   font-size: 16px;
   border-radius: 10px;
   background-color: transparent;
  color:rgb(231, 226, 226);
   text-decoration: none;

   overflow: hidden;
   position: relative;

   z-index: 1;



}

.Hero .cta_hero a:hover::before{
 
 transform: scaleX(1);





}





.Hero .cta_hero a::before{
content: " ";
width: 100%;
top: 0;
bottom: 0;
left: 0;
transform: scaleX(0);
transform-origin: left;


   transition: transform 1s ease-in-out;
background-color: rgb(187, 32, 78);
position: absolute;
z-index: -1;



}

/*  animation de nos slide */


@keyframes slide_animation {
     0%{
        transform: translateX(0);
     }



     25%{

         transform: translateX(0);
     }


     50%{  transform: translateX(-50%);

     }


     75%{
        transform: translateX(-50%);
     }
    

     100%{

     }
}


/* deuxieme section */


.sect_2 {
    margin-top: 20px;
       width: 100%;
    height: 100vh;

}

.sect_2 .container {
    margin: auto;
    /* border: 2px solid orange; */
    width: 90%;
    height: 100vh;
    /* background-color: bisque; */
 display: flex;
    flex-direction:column;
    background-size: cover; 
    gap: 42px;
    /* background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/sect_2/coaching-bg-img.png); */
}



.sect_2 .container h2 {
    color:rgb(12, 12, 12);
    text-align: center;
    font-size: 38px;
    text-shadow: 3px  3px 3px rgb(12, 12, 12,0.2);
    border:  2px  0 2px 0 0 solid gray;
    padding: 8px;

}






/* 



.sect_2 .container  .reponse {
    border: 2px solid rgb(17, 17, 17);
     display: flex; 
    position: relative;
 
   
   
}

/*  nom de l'entreprise ICB 

.sect_2 .container  .reponse  h3{
   font-size: 38px;
   letter-spacing: 20px;
   color: rgb(219, 48, 48);
   position: absolute;
   top:60%;
   left: 30%;
 
   
} */

/* container du svg de la vague 
.sect_2 .container  .reponse  .wave{
height: 300px;
 border: 2px solid orange; 
overflow: hidden;
   
}

 svg de la vague
.sect_2 .container  .reponse  .wave svg{
height: 100%;

   
}

 */




/* 


.sect_2 .reponse .image {
     border: 2px solid rgb(7, 7, 7);   width: 40%;
  height: 300px;
    position: absolute;
   top:0;
   right: 0;
  
 
  

   
} 
*/


.sect_2  .image img {
 
max-width: 100%;
max-height: 100%;

   
}






.sect_2 .photo_desc {
    /* border: 2px solid rgb(252, 16, 173); */
    display: flex;
    height: 80%;
    margin-top: 2px;
   
}



.sect_2 .photo_desc .details {
    /* border: 2px solid blueviolet; */
   
   
}

.sect_2 .photo_desc .details p {
   font-weight: 500;
   font-size: 22px;
   padding-left: 46px;
   text-align: justify;
  
   
   
}


.sect_2 .photo_desc .details .service {
  display: flex;
justify-content: center;
  gap: 40px;
  /* border: 2px solid green; */
  flex-wrap: wrap;
  
 
   
   
}



.sect_2 .photo_desc .details .service .serv_acade {
box-shadow: 4px 4px 8px rgba(12, 12, 12,0.2);
width: 40%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
   
}


.sect_2 .photo_desc .details .service .serv_acade svg {
height: 18px;
width: 18px;
   
}


.sect_2 .photo_desc .details .service .serv_trans svg {
height: 18px;
width: 18px;
   
}



.sect_2 .photo_desc .details .service ul  li{
    display: flex;
    align-items: center;
    gap: 12px;


   
}



.sect_2 .photo_desc .details .service ul {

display: flex;
flex-direction: column;
gap: 12px;
padding: 15px 0 15px 0;


   
}





.sect_2 .photo_desc .details .service .serv_trans {
box-shadow: 4px 4px 8px rgba(12, 12, 12,0.2);
width: 40%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
   
}






.sect_2 .photo_desc .details {
    /* border: 2px solid rgb(23, 228, 217); */
     display: flex;
     flex-direction: column;
     gap: 20px;
   
}





.sect_2 .photo_desc .serv_photos {
    /* border: 2px solid rgb(52, 238, 15); */
width: 40%;
 height: 100%;
 flex-shrink: 0;
 position: relative;

 
  
   
 
   
}




.sect_2 .photo_desc .serv_photos img {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.sect_2 .photo_desc .serv_photos .photos_1 {
   /* border:4px solid #FF296D; */
   width: 90%;
   height: 95%;
   
   justify-self: flex-end;

  
}



.sect_2 .photo_desc .serv_photos .photos_2 {

 position: absolute;
 height: 180px;
 width: 150px;
 right: 0.8px;
 bottom: 23px;
  

}

/* scetion 3 */

.sect_3{
    height: 100vh;
    width: 100%;

}

.sect_3 .container{
    height: 100vh;
    width: 90%;
    margin: auto;
    border: 2px solid saddlebrown;
    margin-top: 30px;
    
}

.sect_3 .container h2{
  font-size: 42px;
  text-align: center;
  text-decoration: underline;
}





.sect_3 .container .services_etudes h3{
  text-align: center;
  margin: 50px 0;

}










.sect_3 .container .grid{
  border: 2px solid rgb(0, 255, 213);
  width: 90%;
  height: 45%;
  margin: auto;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);

}


.sect_3 .container .grid .Card{
  
 border: 4px solid yellow;
    padding: 10px 15px;
    box-shadow: 4px 4px 4px rgba(0, 0,0, 0.3);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  

}

.sect_3 .container .Card .top {
    display: flex;
    border: 4px solid;
    flex-direction: column;
    align-items: center;
      
}

.sect_3 .container .Card .texte {
   text-align: justify;
   line-height: 1.8;
      
}




/* .sect_3 .container .grid div{
 
} */





.sect_3 .container .grid a{
   font-size: 18px;
  
    
  
    color:#97233F;
margin-left: 35%;
 
    

}


